{% if not user.is_anonymous %}
<header>
  <ul>
    <li><a href="{% url 'urlshortner:shortenlinkview' %}">Home</a></li>
    <li><a href="{% url 'urlshortner:mylinksview' %}">My links</a></li>
    <li>
      <a href="{% url 'users:settingsview' user.id %}">Settings</a>
    </li>
    <li><a href="{% url 'users:logoutview' %}">Log out</a></li>
  </ul>
</header>
{% else %}
<header>
  <ul>
    <li><a href="{% url 'urlshortner:shortenlinkview' %}">Home</a></li>
    <li><a href="{% url 'users:signupview' %}">Sign up</a></li>
    <li><a href="{% url 'users:loginview' %}">Log in</a></li>
  </ul>
</header>
{% endif %}
