{% include "urlshortner/header.html" %}
<div class="centralSection">
  <h1 class="colored">Here is your shorten link :</h1>
  <a href="{{ domain }}/{{ shorten_link }}">
    <span class="shortUrl">{{ domain }}/{{ shorten_link }}</span>
  </a>

  {%if user.is_anonymous%}
  <div>
    <br />
    <span class="shortUrl"
      >Sign up to access data on how many people click your shorten link:</span
    >
    <a href="{% url 'users:signupview' %}" class="shortUrl">Free sign up</a>
  </div>
  {% endif %}
</div>
